@import url(base.css);

body main {
    font-family: museo;
}

.__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite-fundo);

}

.__card-linha {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border: 1px;
    border-top: 5px solid var(--offwhite-fundo) !important;
    padding: 0px 15px !important;
    border-style: solid;
}

.__card-linha:nth-child(1) {
    padding: 15px !important;
    border: none;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    border-top: none !important;
    background: var(--azul-turquesa-variante);
}

.__card-linha:not(:nth-child(1)) {
    padding: 0px !important;

}

.__container {
    min-height: calc(100vmin - 150px);
    width: 1010px;
    height: auto;
    padding: 0 0 40px;
    background-color: var(--offwhite-fundo);
}

.__containerDetails {
    font-size: 15px;
    font-weight: 500;

    min-height: 320px;
    max-width: 938px;
    min-width: 310px;
    height: auto;
    background-color: var(--offwhite-fundo);
    padding-top: 22px;

    box-shadow: none;
    border: solid 1px #ccc;
    background-color: var(--branco);
    margin-top: 20px;
    font-weight: 500;
    line-height: 20px;
}

body a {
    text-decoration: none;
}

.card.card-body {
    border: none;
}

.__row-up{
    content: "";
    background-image: url(../img/Vector.webp);
    background-repeat: no-repeat;
    background-position-y: 2px;
    color: #09B88A;
    padding-left: 13px;
    padding-right: 5px;
    line-height: 20px;

}

.__consulta {
    color: #7b7b7b;
    /* font-family: museo sans; */
    font-size: 15px;
}

.__expande {
    font-size: 15px;
    font-weight: 500;
}


.__mostra-mais-pai {
    margin-bottom: 5%;
}

.__mostrar-mais {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 125%;
}

.__mostrar-mais a {
    position: absolute;
    bottom: 0;
}

.__containerTimeLine ul {
    padding-left: 0;
}

.__formRow {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    overflow: hidden;
    display: flex;
}

.__leftColumnForm {
    position: relative;
    width: 204px;
}

.__rightColumnForm {
    margin-left: 107px;
}

.__firstText {
    height: 84px;
    max-width: 599px;
    border: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    /* color: transparent; */
    /* background-image: linear-gradient(#000000, #ffffff); */
    background-clip: text;
    -webkit-background-clip: text;
}

#collapseExample {
    max-width: 599px;
}

#btnMostrarMais {
    border: none;
    background: none;
    color: #4579fb;
    margin-left: 200px;
    box-shadow: none;
}

.__requestDetails {
    position: relative;
    top: 22px;
    left: 14px;

}

#mais {
    display: none;
}

#encaminhamento {
    color: #4579fb
}

#botãoDescrição {
    padding-top: 20px;
    padding-bottom: 30px;
}

.__statusRow {
    position: relative;
    padding-top: 20px;
    display: flex;
}

.collapse a {
    border: none;
    box-shadow: none;
}

.__status1 {
    height: 26px;
    width: 96px;
    color: #f41717;
    border: 1px solid #f41717;
    border-radius: 13px;
    float: left;
    position: relative;

}

.__status2 {
    height: 26px;
    width: 100px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    border-radius: 13px;
    margin-left: 10px;
    position: relative;
}

.__statusBtn {
    height: 72px;
    width: 96px;
    position: relative;
    padding-left: 14px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
    line-height: 25px
}

.__card-sit {
    background-color: var(--branco) !important;
    text-align: start;
    /* padding-left: 53%; */
    padding: 15px 0px 15px 53%;
    border-radius: 13px !important;
}

#etapaPassada {
    margin-left: 7px;
    color: #ffffff;
    border: 2px solid #02b0d6;
    border-radius: 50%;
}

.btn-success {
    background-color: #09b88a !important;
    border-color: #09b88a !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.btn-success:hover {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.__timeLineEventBox {
    display: flex;
}

.__timeLineSolicitation {
    width: 938px;
    display: flex;
    margin-bottom: 40px;
}

.__timeLineEvent {
    padding-left: 14px;
    width: 938px;

}

.__timeLineDescription {
    color: #7b7b7b;
    margin-left: 14px;
    margin-bottom: 20px;
}

.__iconEStatus {
    display: flex;
}

.__containerTimeLine {
    width: 938px;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px
}

.__containerTimeLine ul {
    list-style: none;
    position: relative;

}

.__containerTimeLine ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 82%;
    top: 0;
    left: 8;
    background: #02b0d6;
}


.__containerTimeLine ul li {
    min-height: 40px;
    padding-bottom: 20px;
}

.__iconEStatus {
    position: relative;
    left: -9px;
}

.__timeLineStatus {
    margin-left: 4px;
}

.__timeLineStatus2 {
    margin-left: 12px;
    color: #7b7b7b;

}

.__circulo1 {
    border: 3px solid #02b0d6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #02b0d6;
    margin-left: 2px;

}

.__circulo2 {
    border: 1px solid #02b0d6;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    margin-left: 2px;
}


@media (min-width: 780px) {
    .__botao-sit {
        text-align: start !important;
        font-size: 12px !important;
        /* border: none !important;  */
    }
}


@media (max-width: 992px) {
    .__container {
        margin: 0px 15px 0px 2px;
        width: fit-content;
    }
}

@media (max-width: 780px) {
    .__main {
        background-color: var(--branco);
    }

    .__container {
        width: -webkit-fill-available;
        margin: 0px 15px 0px 15px;
        box-shadow: none;
        background-color: var(--branco);
    }


    .__card-linha:nth-child(1) {
        display: none;
    }

    .__card-linha:not(:nth-child(1)) {
        padding: 0px !important;
        border: 1px solid #cccccc !important;
        margin-top: 5px;
    }

    .collapse {
        transition: background-color 0.25s;
        background-color: var(--offwhite-fundo) !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--azul-turquesa-variante) !important;
        color: var(--branco) !important;
    }

    .__card-sit:not(.collapsed) {
        background-color: var(--offwhite-fundo);
    }

    .__botao-sit {
        font-size: 12px !important;
        border-radius: 13px !important;
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) and (orientation: portrait) {

    .__containerDetails {
        width: 100%;
    }

    .__formRow {
        display: list-item;
    }

    .__rightColumnForm {
        margin-left: 0;
    }

    .__firstText {
        margin-right: 15px;
    }

    #btnMostrarMais {
        margin-left: 100px;
    }

    #esconde {
        display: none;
    }

    .__statusDiscription {
        display: none;
    }

    .__containerTimeLine {
        width: 100%;

    }

    .__containerTimeLine ul li {
        height: 80px;
    }

}